<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019. TU Dortmund University,
  ~ Institute of Energy Systems, Energy Efficiency and Energy Economics,
  ~ Research group Distribution grid planning and operation
  -->

<configuration>
    <!-- File appender is configured and added by edu.ie3.simona.logging.logback.LogbackConfiguration -->
    <!-- Console appender is configured and added by edu.ie3.simona.logging.logback.LogbackConfiguration -->
</configuration>